
// colors
$cinza05:#fafafa;
$cinza20:#eeeeee;
$cinza40:#bdbdbd;
$cinza60:#757575;
$cinza90:#3f4043;
$azdrk:#25355f;
$azul:#31498b;
$azlgt:#4f89c8;
$azlgtn:#8f8ab9;
$branco:#ffffff;
$brancoFont:#f0f2f4;


// --------------------------------------------------------------------------------------------------------------------------------
//fonts
@font-face{
    font-family: FiraSansSemiBold;
    src:url('../fonts/fira-sans/FiraSans-SemiBold.otf');
}
@font-face{
    font-family: FiraSansLight;
    src:url('../fonts/fira-sans/FiraSans-Light.otf');
}
@font-face{
    font-family: FiraSansRegular;
    src:url('../fonts/fira-sans/FiraSans-Regular.otf');
}
@font-face{
    font-family: FiraSansItalic;
    src:url('../fonts/fira-sans/FiraSans-Italic.otf');
}


//----------------------------------------------------------------------------------------------------------------------------------
//mixins
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  }
  @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
}
//----------------------------------------------------------------------------------------------------------------------------------
//predefinicoes
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.centro{
    text-align: center;
}
.cem{
    width:100%;
}
.invalido{
    color:red;
    display:none;
}
//----------------------------------------------------------------------------------------------------------------------------------
    body{
        background-color: $branco;
        .image01{
            width:100%;
            height:100vh;
            background-image: url('../img/bannerFamilly.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-attachment: fixed;
            background-position: center;
            max-width: 100%;
        }
        .image02{
            width:100%;
            height:100vh;
            background-image: url('../img/PRLLX.jpg');
            background-repeat: no-repeat;
            // background-size:cover;
            background-attachment: fixed;
            background-position: center;
            h1{
                font-family: FiraSansLight;
                text-align: center;
                color:$branco;
                font-size:36pt;
            }
            h2{
                font-family: FiraSansRegular,sans-serif;
                text-align: center;
                color:$branco;
                font-size:15pt;
            }
            .box{
                width:100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height:100%;
            }
            .box2{
                width:100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                margin-top:20px;
            }

        }
        .topo{
            padding-top: 30px;
            width: 100%;
            height: 20vh;
            .icone{
                text-align: left;
                width:50%;
                height:100%;
                float:left;
            }
            .botaoContato{
                text-align: right;
                width:50%;
                height:100%;
                float:left;
                .fale{
                    font-size: 12pt;
                    width:200px;
                    font-family: FiraSansSemiBold,sans-serif;
                }
            }

        }
        .apresentacao{
	            width:100%;
	            background-color: $branco;
                padding-top: 55px;
                padding-bottom: 55px;
                h3{
                    color:$azlgt;
                    font-family: FiraSansLight,sans-serif;
                    font-size:15pt;
                    background-color: white;
                }
                h2{
                    color:$azdrk;
                    font-family: FiraSansLight,sans-serif;
                    font-size:36pt;
                    padding-bottom: 30px;
                }
                h3,h2{
                    text-align: center;
                }
                p.p1{
                    text-align: left;
                    color:$cinza60;
                    padding-left: 100px;
                    padding-right: 40px;
                }
                p.p2{
                    text-align: left;
                    color:$cinza60;
                    padding-left: 100px;
                    padding-right: 40px;
                }
	        }
        .preseta{
            height: 70vh;
            width: 100%;
        }
        .seta{
            height: 10vh;
            width: 100%;
            text-align: center;
            cursor:pointer;
            p{
                color:white;
                font-family: FiraSansSemiBold,sans-serif;
                font-size: 8pt;
            }
        }
        .formulario{
            padding-top: 80px;
            padding-bottom: 80px;
            form{
                width:50%;
                margin: 0 auto;
                label{
                    color:$cinza40;
                    font-family: FiraSansItalic,sans-serif;
                    text-align: left;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:35px;
                    padding-top: 0;
                }
                input[type='text']{
                    width:100%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-color: $cinza20;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:0;
                    padding-top: 0;
                }
                input[type='text']:focus{
                    outline: 0;
                }
                input[type='email']{
                    width:100%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-color: $cinza20;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:0;
                    padding-top: 0;
                }
                input[type='email']:focus{
                    outline: 0;
                }
                textarea{
                    width:100%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-color: $cinza20;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:0;
                    padding-top: 0;
                }
                textarea:focus{
                    outline: 0;
                }
            }
                hr{
                   color:$azlgt;
                   background-color:$azlgt;
                   height: 2px;
                   width:35px;
                   margin:0 auto;
                   margin-bottom: 55px;
                }
                h1{
                    color:$azlgt;
                    font-family: FiraSansLight,sans-serif;
                    font-size: 15pt;
                    text-align: center;
                    padding-bottom: 4px
                }
                .cem{
                    margin-top: 30px;
                    text-align: center;
                    input[type='submit']{
                        width:200px;
                        text-align: center;
                        font-family: FiraSansSemiBold,sans-serif;
                        font-size: 12pt;
                        color:#c1c1c1;
                        border-color:#c1c1c1;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
        }
        .endereco{
            width:100%;
            margin:0;
            position:relative;
            a{
                position:absolute;
                bottom: 20px;
                right:20px;
            }
            .google{
                float:left;
                iframe{
                    width:100%;
                    padding: 0;
                }
            }
            .rua{
                background-color: $azdrk;
                float:left;
                width:100%;
                height:490px;
                padding-left: 85px;
                display: flex;
                justify-content:center;
                align-items: left;
                flex-direction: column;
                border:none;
                .enderecoTitulo{
                    color:$azlgt;
                    font-family:FiraSansSemiBold;
                    font-size: 16pt;
                    margin-bottom: 0;
                }
                hr{
                    color:$azlgt;
                    background-color: $azlgt;
                    height:2px;
                    width:50px;
                    margin-bottom: 15px;
                }
                .end,.tel {
                    color: $brancoFont;
                    font-size: 20pt;
                    font-family:FiraSansLight;
                }
                .end div.imagem{
                    width:40px;
                    height:100px;
                    float:left;
                }
                .end div.ende{
                    width:80%;
                    height:40px;
                    float:left;
                }
                .tel div.imagem{
                    clear:left;
                    float:left;
                    width:40px;
                    height:100px;
                }
                .tel div.tele{
                    float:left;
                    width:80%;
                    height:40px;
                }
            }
        }
        footer{
            border:none;
            width:100%;
            background-color: $azdrk;
            clear:both;
            border:none;
            .contfooter{
                border-top: 2px solid $azlgt;
                padding-top: 100px;

                .face{
                    float:left;
                    width:10%;
                    text-align: left;
                    padding-top: 15px;
                }
                 .zecon{
                    float:left;
                    width:80%;
                    text-align: center;
                }
                 .h2b{
                    float:left;
                    width:10%;
                    text-align: right;
                    padding-top: 15px;
                }
                .copy{
                    padding-top: 120px;
                    padding-bottom: 30px;
                    width:100%;
                    text-align: center;
                    color:$azlgt;
                    font-family: FiraSansRegular;
                    font-size:12pt;
                    span{
                        font-family: FiraSansSemiBold;
                    }
                }
            }
        }
    }

    @include for-size(tablet-landscape-up) {
        body{
        background-color: $branco;
        .image01{
            width:100%;
            height:100vh;
            background-image: url('../img/bannerFamilly.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-attachment: fixed;
            background-position: center;
        }
        .image02{
            width:100%;
            height:100vh;
            background-image: url('../img/PRLLX.jpg');
            background-repeat: no-repeat;
            // background-size:cover;
            background-attachment: fixed;
            background-position: center;
            h1{
                font-family: FiraSansLight;
                text-align: center;
                color:$branco;
                font-size:36pt;
            }
            h2{
                font-family: FiraSansRegular,sans-serif;
                text-align: center;
                color:$branco;
                font-size:15pt;
            }
            .box{
                width:100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height:100%;
            }
            .box2{
                width:100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                margin-top:20px;
            }

        }
        .topo{
            padding-top: 30px;
            width: 100%;
            height: 20vh;
            .icone{
                text-align: left;
                width:50%;
                height:100%;
                float:left;
            }
            .botaoContato{
                text-align: right;
                width:50%;
                height:100%;
                float:left;
                .fale{
                    font-size: 12pt;
                    width:200px;
                    font-family: FiraSansSemiBold,sans-serif;
                }
            }

        }
        .apresentacao{
                width:100%;
                background-color: $branco;
                padding-top: 55px;
                padding-bottom: 55px;
                h3{
                    color:$azlgt;
                    font-family: FiraSansLight,sans-serif;
                    font-size:15pt;
                    background-color: white;
                }
                h2{
                    color:$azdrk;
                    font-family: FiraSansLight,sans-serif;
                    font-size:36pt;
                    padding-bottom: 30px;
                }
                h3,h2{
                    text-align: center;
                }
                p.p1{
                    text-align: left;
                    color:$cinza60;
                    padding-left: 100px;
                    padding-right: 40px;
                }
                p.p2{
                    text-align: left;
                    color:$cinza60;
                    padding-left: 100px;
                    padding-right: 40px;
                }
            }
        .preseta{
            height: 70vh;
            width: 100%;
        }
        .seta{
            height: 10vh;
            width: 100%;
            text-align: center;
            cursor:pointer;
            p{
                color:white;
                font-family: FiraSansSemiBold,sans-serif;
                font-size: 8pt;
            }
        }
        .formulario{
            padding-top: 80px;
            padding-bottom: 80px;
            form{
                width:50%;
                margin: 0 auto;
                label{
                    color:$cinza40;
                    font-family: FiraSansItalic,sans-serif;
                    text-align: left;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:35px;
                    padding-top: 0;
                }
                input[type='text']{
                    width:100%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-color: $cinza20;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:0;
                    padding-top: 0;
                }
                input[type='text']:focus{
                    outline: 0;
                }
                input[type='email']{
                    width:100%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-color: $cinza20;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:0;
                    padding-top: 0;
                }
                input[type='email']:focus{
                    outline: 0;
                }
                textarea{
                    width:100%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-color: $cinza20;
                    margin-bottom:0;
                    padding-bottom: 0;
                    margin-top:0;
                    padding-top: 0;
                }
                textarea:focus{
                    outline: 0;
                }
            }
                hr{
                   color:$azlgt;
                   background-color:$azlgt;
                   height: 2px;
                   width:35px;
                   margin:0 auto;
                   margin-bottom: 55px;
                }
                h1{
                    color:$azlgt;
                    font-family: FiraSansLight,sans-serif;
                    font-size: 15pt;
                    text-align: center;
                    padding-bottom: 4px
                }
                .cem{
                    margin-top: 30px;
                    text-align: center;
                    input[type='submit']{
                        width:200px;
                        text-align: center;
                        font-family: FiraSansSemiBold,sans-serif;
                        font-size: 12pt;
                        color:#c1c1c1;
                        border-color:#c1c1c1;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
        }
        .endereco{
            width:100%;
            height:100px;
            margin:0;
            position:relative;
            a{
                position:absolute;
                bottom: 20px;
                right:20px;
            }
            .google{
                float:left;
                iframe{
                    width:100%;
                    padding: 0;
                }
            }
            .rua{
                background-color: $azdrk;
                float:left;
                width:100%;
                height:490px;
                padding-left: 85px;
                display: flex;
                justify-content:center;
                align-items: left;
                flex-direction: column;
                border:none;
                .enderecoTitulo{
                    color:$azlgt;
                    font-family:FiraSansSemiBold;
                    font-size: 16pt;
                    margin-bottom: 0;
                }
                hr{
                    color:$azlgt;
                    background-color: $azlgt;
                    height:2px;
                    width:50px;
                    margin-bottom: 15px;
                }
                .end,.tel {
                    color: $brancoFont;
                    font-size: 20pt;
                    font-family:FiraSansLight;
                }
                .end div.imagem{
                    width:40px;
                    height:100px;
                    float:left;
                }
                .end div.ende{
                    width:80%;
                    height:40px;
                    float:left;
                }
                .tel div.imagem{
                    clear:left;
                    float:left;
                    width:40px;
                    height:100px;
                }
                .tel div.tele{
                    float:left;
                    width:80%;
                    height:40px;
                }
            }
        }
        footer{
            border:none;
            width:100%;
            background-color: $azdrk;
            clear:both;
            border:none;
            .contfooter{
                border-top: 2px solid $azlgt;
                padding-top: 100px;

                .face{
                    float:left;
                    width:10%;
                    text-align: left;
                    padding-top: 15px;
                }
                 .zecon{
                    float:left;
                    width:80%;
                    text-align: center;
                }
                 .h2b{
                    float:left;
                    width:10%;
                    text-align: right;
                    padding-top: 15px;
                }
                .copy{
                    padding-top: 120px;
                    padding-bottom: 30px;
                    width:100%;
                    text-align: center;
                    color:$azlgt;
                    font-family: FiraSansRegular;
                    font-size:12pt;
                    span{
                        font-family: FiraSansSemiBold;
                    }
                }
            }
        }
    }
    }
    @include for-size(phone-only) {
        body{
        background-color: $branco;
        .image01{
            height:85vh;
            max-width: 100%;
            background-position: -400px -50px;
        }
        .image02{
            height:60vh;
            h1{
                font-size:25pt;
            }
            h2{
                font-size:10pt;
            }

        }
        .topo{
            height: 10vh;
            .icone{
                img{
                    width:200px;
                }
            }
            .botaoContato{
                .fale{
                    font-size: 10pt;
                    width:150px;
                }
            }

        }
        .apresentacao{
                h3{
                    font-size:15pt;
                }
                h2{
                    font-size:20pt;

                }
                p.p1{
                    padding-left: 0;
                    padding-right: 0;
                    text-indent: 20px;
                }
                p.p2{
                    padding-left: 0;
                    padding-right: 0;
                    text-indent: 20px;
                }
            }
        .preseta{
            height: 60vh;
        }
        .seta{
            height: 10vh;
            p{
                font-size: 8pt;
            }
        }
        .formulario{
            padding-top: 50px;
            padding-bottom: 50px;
            form{
                width:80%;
                label{
                    margin-top:15px;
                }
            }
                h1{
                    font-size: 15pt;
                }
        }
        .endereco{
            a img{
                width:50px;
            }
            .google{
                iframe{
                    height: 300px;
                }
            }
            .rua{
                height:300px;
                padding-left: 25px;
                .enderecoTitulo{
                    font-size: 16pt;
                }
                .end,.tel {
                    font-size: 14pt;
                }
            }
        }
        footer{
            border:none;
            width:100%;
            background-color: $azdrk;
            clear:both;
            border:none;
            .contfooter{
                border-top: 2px solid $azlgt;
                padding-top: 50px;
                .zecon{
                    float:left;
                    width:80%;
                    text-align: center;
                    img{
                        width: 200px;
                    }
                }
                .copy{
                    padding-bottom: 10px;
                    font-size:10pt;
                }
            }
        }
    }
    }

